/* Custom */

body {
    overflow-x: hidden;
    font-family: "Plus Jakarta Sans", sans-serif !important;
}

::placeholder {
    color: #B1B1B1 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}

.form-widget-footer::placeholder {
    font-size: 14px !important;
}

.form-check-label {
    cursor: pointer !important;
}

.custom-shadow-services {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

.custom-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px !important;
}

.custom-shadow-2 {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.custom-border {
    border: 1px solid #E4E4E4 !important;
}

.react-select__value-container {
    display: flex !important;
    align-items: center !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.btn-close:focus {
    box-shadow: none !important;
}

.lang-select {
    width: fit-content !important;
    border: 0 !important;
    color: #333333 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    cursor: pointer;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.lang-select:focus {
    box-shadow: none !important;
}

.mui-loader {
    position: absolute;
    left: 50% !important;
    top: 50%;
}

.MuiSlider-thumb::before {
    box-shadow: none !important;
}

.valueLabel {
    background-color: transparent !important;
    border: 1px solid #E4E4E4;
    border-radius: 32px;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: -30px !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #00C1B6;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00ADA2;
}



/* Generic */

.primaryButton {
    background-color: #00C1B6 !important;
    color: #fff !important;
    border-radius: 4px !important;
    border-color: transparent !important;
    font-size: 14px !important;
    padding: 8px 16px !important;
    font-weight: 600 !important;
}

.primaryButton:hover,
.primaryButton:focus {
    background-color: #00ADA2 !important;
}

.secondaryButton {
    background-color: #DCDCDC !important;
    color: #333333 !important;
    border-radius: 4px !important;
    border-color: transparent !important;
    font-size: 14px !important;
    padding: 8px 16px !important;
    height: 40px !important;
}

.secondaryButton:hover,
.secondaryButton:focus {
    background-color: #dbdbdb !important;
}

.outlineButton {
    background-color: transparent !important;
    color: #333333 !important;
    border-radius: 4px !important;
    border-color: #DCDCDC !important;
    font-size: 14px !important;
    padding: 8px 16px !important;
    font-weight: 600 !important;
}

.outlineButton:hover,
.outlineButton:focus {
    background-color: #50D1C9 !important;
    color: #fff !important;
    border-color: #50D1C9;
}

.outlineButton:hover,
.outlineButton:focus {
    background-color: #50D1C9 !important;
    color: #fff !important;
    border-color: #50D1C9;
}

.getStartedBtn {
    background-image: linear-gradient(to right, #2BBCBF 10%, #6B91DA 50%);
    font-size: 14px !important;
    font-weight: 500 !important;
    transition: 0.5s !important;
    background-size: 200% auto;
    display: block !important;
    visibility: visible !important;
}

.getStartedBtn:hover,
.getStartedBtn:focus {
    background-image: linear-gradient(to right, #6B91DA 35%, #2BBCBF 85%);
    background-position: right center;
}

.primary-color {
    color: #00C1B6 !important;
}

.btn-grad {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.transition-2 {
    transition: all 0.2s ease-in-out !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/* Navbar */

.navLink {
    color: #333333 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    /* transition: all 0.2s ease-in-out !important; */
    margin: 0px 8px;
    border-bottom: 1px solid #fff !important;
    padding-bottom: 2px !important;
}

.navLink.active,
.navLink:focus {
    color: #23262F !important;
    font-weight: 500 !important;
    border-color: #23262F !important;
}

.navLink:hover {
    color: #23262F !important;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
    outline: none !important;
}

.buttonGroup {
    border: 1px solid #BEBEBE;
}

.buttonGroup button {
    width: 40px;
    height: 24px;
    font-size: 10px;
    font-weight: 500;
    border-color: transparent !important;
}

/* Home */

.hero {
    background-image: url(/src/assets/images/hero.webp);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center !important; */
    overflow: hidden;
    background-color: #000000;
    height: 93vh;
}

.search-bar input {
    height: 50px;
    border: 0 !important;
}

.search-bar input:focus {
    box-shadow: none;
}

.border-start-lg {
    border-left: 1px solid #e5e5e5;
}

/* Modal */

.link-box:hover {
    background-color: #00C1B6;
}

.modal-link {
    font-size: 14px !important;
    color: #23262F;
    font-weight: 400;
    text-decoration: none !important;
    transition: all 0.2s ease-in-out;
}

.modal-link:hover {
    font-weight: 500;
    text-decoration: underline !important;
}

.box-link-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* Services */

.service-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.service-link {
    color: #00C1B6;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.service-item {
    color: #23262F;
    font-size: 14px;
    font-weight: 400;
}

.service-section {
    position: absolute;
    top: 54%;
    left: 0;
    right: 0;
}

.service-box:hover {
    background-color: #00C1B6;
    color: #fff !important;
    border-color: #00C1B6;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.service-box h3,
.service-box a,
.service-box svg,
.service-box img,
.service-box .service-link,
.service-box .service-item {
    transition: all 0.2s ease-in-out !important;
}

.service-box:hover h3,
.service-box:hover a,
.service-box:hover .service-link,
.service-box:hover svg {
    color: #fff !important;
}

.service-box a:hover {
    text-decoration: underline !important;
}

.service-box:hover img {
    filter: invert(98%) sepia(47%) saturate(96%) hue-rotate(233deg) brightness(117%) contrast(100%);
}

/* Blogs */

.blogs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.blogs-cta:hover .blogs-arrow {
    color: #122A41 !important;
}

/* Footer */
.footer {
    background-color: #EAFFFF;
}

.social-link {
    background-color: #00C1B6;
    width: 45px;
    height: 45px;
}

.social-link:hover {
    background-color: #00ADA2;
}

.form-widget-footer:focus {
    border: 1px solid #00C1B6 !important;
}

.form-widget-footer button {
    background-color: #00C1B6 !important;
    width: 48px;
    border: 1px solid transparent !important;
}

.form-widget-footer button:focus,
.form-widget-footer button:hover {
    background-color: #00ADA2 !important;
}

.form-widget-footer button:focus,
.form-widget-footer button:hover {
    border-color: #00ADA2 !important;
}

.form-widget-footer input {
    height: 46px;
    border: 1px solid transparent !important;
}

.form-widget-footer input:focus {
    box-shadow: none !important;
    border-color: #00C1B6 !important;
    outline: 0 !important;
    background-color: transparent !important;
}

.footer-list li {
    color: #06312E;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 12px;
}

.footer-list li a {
    text-decoration: none;
    color: inherit;
}

.footer-list li a:hover {
    color: #00ADA2 !important;
}

/* Listings Page */

.profile-btn-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.section-responsive-border {
    border-right: 1px solid #E4E4E4;
}

/* Listing Details Page */
.profile-gallery .gallery-img-container:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.blog-shadow {
    box-shadow: 0px 20px 50px 0px #12112714 !important;
}

.blog-card {
    transition: all 0.3s ease-in-out !important;
}

.blog-card:hover {
    /* box-shadow: 0px 20px 50px 0px #12112714 !important; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.related-blog-img {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.profile-media-img-1 {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.profile-media-img-3 {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.listing-detail-social:hover svg {
    color: #fff !important;
}

.listing-detail-social:hover {
    border-color: transparent !important;
    background-color: #00ADA2 !important;
}

.listing-detail-link a {
    color: #14A077;
    text-decoration: none;
}

.listing-detail-link a:hover {
    color: #14A077 !important;
    text-decoration: underline;
}

.listing-detail-social {
    transition: background-color 0.3s ease-in-out !important;
}

/* Auth */

.auth-modal input {
    border: 1px solid #B1B1B1;
    border-radius: 6px;
    height: 50px;
}

.auth-modal input:hover {
    border: 1px solid #B1B1B1 !important;
}

.auth-modal input:focus {
    border-color: #00C1B6;
    outline: 1px solid #00C1B6;
    box-shadow: none;
}

.form_label {
    color: #23262f !important;
    font-size: 14px !important;
    line-height: 21px !important;
    font-weight: 400 !important;
    font-family: Plus Jakarta Sans !important;
}

.form_label_bold {
    color: #23262f !important;
    font-size: 14px !important;
    line-height: 21px !important;
    font-weight: 600 !important;
    font-family: Plus Jakarta Sans !important;
}

.pricing-top-bar {
    background: linear-gradient(270deg, rgba(103, 143, 220, 0.85) 0%, rgba(22, 201, 190, 0.85) 100%) !important;

}

.pricing-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


/* Listing Submission Form */

/* .live-preview-form {
    background: linear-gradient(270deg, rgba(103, 143, 220, 0.85) 0%, rgba(22, 201, 190, 0.85) 100%);
} */


.ad-progress-bar {
    border: 2px solid #00C1B6;
    border-radius: 50px;
    height: 26px;
    padding: 1px 2px 1px 2px;
    display: flex;
    align-items: center;
}

.ad-progress-bar .progress-bar {
    background-image: linear-gradient(to right, #2BBCBF 10%, #6B91DA 50%);
    border-radius: 50px;
}

.live-preview-form {
    background-image: url(../images/live-preview-bg.png);
    height: calc(100vh - 100px) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: hidden !important;
}

.form-top-gradient .progress-bar {
    background: linear-gradient(270deg, rgba(22, 201, 190, 0.85) 0%, rgba(103, 143, 220, 0.85) 100%);
    /* background: linear-gradient(270deg, rgba(103, 143, 220, 0.85) 0%, rgba(22, 201, 190, 0.85) 100%); */
    /* background: linear-gradient(90deg, #5C48FC 0%, #8CD2F9 49.4%, #7DFEA9 119.05%); */
}

/* .pac-logo */
.pac-container {
    background-color: #fff !important;
    border-radius: 8px !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px !important;
    border-top: 1px solid lightgray !important;
    /* width: 30% !important; */
}

.pac-container::after {
    display: none !important;
}

.pac-item,
.pac-item-query {
    color: #23262f !important;
    border: 0 !important;
    padding: 3px 3px 3px 7px !important;
    /* padding-left: 7px !important; */
}

.pac-logo {
    color: #00ADA2 !important;
}

.pac-item-selected,
.pac-item:hover,
.pac-item:focus,
.pac-item-query:focus,
.pac-item-query:hover {
    background-color: #eaffff !important;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.ads-loading-icon {
    animation: pulse 2s ease-in-out infinite;
}



/* Media Queries */

@media screen and (max-width: 1400px) {
    .AdsSectionTop {
        margin-top: 260px !important;
    }

    .service-section {
        position: absolute;
        top: 50%;
    }
}

@media screen and (max-width: 1200px) {
    .pricing-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .service-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .blogs-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .AdsSectionTop {
        margin-top: 500px !important;
    }

    .navLink.active,
    .navLink:focus {
        border-color: transparent !important;
    }
}

@media screen and (max-width: 1024px) {
    .pricing-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .service-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .logo {
        width: 200px !important;
    }

    .blogs-box {
        margin-top: 220px;
    }
}

@media screen and (max-width: 992px) {

    .service-section {
        position: static !important;
    }

    .AdsSectionTop {
        margin-top: 0px !important;
    }

    .hero {
        height: auto !important;
    }

    .box-link-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    .blogs-box {
        margin-top: 0;
    }
}

@media screen and (max-width: 769px) {
    .search-bar {
        width: 100% !important;
    }

    .price-plan-price {
        font-size: 3rem !important;
    }

    .service-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .blogs-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .mobile-text-center {
        text-align: center !important;
    }

    .mobile-padding {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    h1 {
        font-size: 2rem !important;
        line-height: 40px !important;
    }

    h3 {
        font-size: 1rem !important;
    }

    h2 {
        font-size: 1.2rem !important;
    }

    h4 {
        font-size: 1rem !important;
    }

    .w-100-md {
        width: 100% !important;
    }

    .border-search-md {
        border: .5px solid #e5e5e5 !important;
        border-radius: 6px !important;
    }

    .border-start-lg {
        border: .5px solid #e5e5e5 !important;
        border-radius: 6px !important;
    }

    .profile-status {
        top: 10px !important;
    }

    .section-responsive-border {
        border-right: 0 !important;
    }

    .related-blog-img {
        border-top-left-radius: 7px !important;
        border-top-right-radius: 7px !important;
        border-bottom-left-radius: 0 !important;
    }

    .profile-media-img-1,
    .profile-media-img-2,
    .profile-media-img-3 {
        border-radius: 7px !important;
    }
}

@media screen and (max-width: 600px) {
    .pricing-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .getStartedBtn-container {
        visibility: hidden;
    }

    h1 {
        font-size: 1.5rem !important;
        line-height: 33px !important;
    }

    h3,
    h4 {
        font-size: 0.9rem !important;
    }

    .box-link-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .ads-square-box {
        width: 95% !important;
    }
}