.fond {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.loader-body {
  height: 100vh;
  width: 100%;
  background: #6969692b;
}

.loader-body-without-Bg {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.contener_general {
  -webkit-animation: animball_two 1s infinite;
  -moz-animation: animball_two 1s infinite;
  -ms-animation: animball_two 1s infinite;
  animation: animball_two 1s infinite;
  width: 44px;
  height: 44px;
}

.contener_mixte {
  width: 44px;
  height: 44px;
  position: absolute;
}

.ballcolor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.ball_1,
.ball_2,
.ball_3,
.ball_4 {
  position: absolute;
  -webkit-animation: animball_one 1s infinite ease;
  -moz-animation: animball_one 1s infinite ease;
  -ms-animation: animball_one 1s infinite ease;
  animation: animball_one 1s infinite ease;
}

.ball_1 {
  background-color: #50D1C9;
  top: 0;
  left: 0;
}

.ball_2 {
  background-color: #6B91DA;
  top: 0;
  left: 24px;
}

.ball_3 {
  background-color: #EAFFFF;
  top: 24px;
  left: 0;
}

.ball_4 {
  background-color: #00ADA2;
  top: 24px;
  left: 24px;
}

@-webkit-keyframes animball_one {
  0% {
    position: absolute;
  }

  50% {
    top: 12px;
    left: 12px;
    position: absolute;
    opacity: 0.5;
  }

  100% {
    position: absolute;
  }
}

@-moz-keyframes animball_one {
  0% {
    position: absolute;
  }

  50% {
    top: 12px;
    left: 12px;
    position: absolute;
    opacity: 0.5;
  }

  100% {
    position: absolute;
  }
}

@-ms-keyframes animball_one {
  0% {
    position: absolute;
  }

  50% {
    top: 12px;
    left: 12px;
    position: absolute;
    opacity: 0.5;
  }

  100% {
    position: absolute;
  }
}

@keyframes animball_one {
  0% {
    position: absolute;
  }

  50% {
    top: 12px;
    left: 12px;
    position: absolute;
    opacity: 0.5;
  }

  100% {
    position: absolute;
  }
}

@-webkit-keyframes animball_two {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
  }

  50% {
    -webkit-transform: rotate(360deg) scale(1.3);
  }

  100% {
    -webkit-transform: rotate(720deg) scale(1);
  }
}

@-moz-keyframes animball_two {
  0% {
    -moz-transform: rotate(0deg) scale(1);
  }

  50% {
    -moz-transform: rotate(360deg) scale(1.3);
  }

  100% {
    -moz-transform: rotate(720deg) scale(1);
  }
}

@-ms-keyframes animball_two {
  0% {
    -ms-transform: rotate(0deg) scale(1);
  }

  50% {
    -ms-transform: rotate(360deg) scale(1.3);
  }

  100% {
    -ms-transform: rotate(720deg) scale(1);
  }
}

@keyframes animball_two {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(360deg) scale(1.3);
  }

  100% {
    transform: rotate(720deg) scale(1);
  }
}

.svg-calLoader {
  width: 150px;
  height: 150px;
  transform-origin: 100px 100px;
  animation: 1.4s linear infinite loader-spin;
}

.cal-loader__plane {
  fill: var(--primary-color);
}

.cal-loader__path {
  stroke: #333;
  animation: 1.4s ease-in-out infinite loader-path;
}

@keyframes loader-spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loader-path {
  0% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }

  50% {
    stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
  }

  100% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
}

.c-header {
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  height: 48px;
  width: 100%;
  position: relative;
}

.c-header-loader {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.c-slidingLoader {
  position: relative;
  height: 2px;
  width: 100%;
  overflow: hidden;
}

.c-slidingLoader-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: loading 1s infinite alternate cubic-bezier(0.77, 0, 0.175, 1);
  animation: loading 1s infinite alternate cubic-bezier(0.77, 0, 0.175, 1);
}

.c-slidingLoader-inner::before {
  content: "";
  display: block;
  background-color: var(--light-secondary-color);
  position: relative;
  height: 2px;
  width: 30%;
  transform: translateX(-50%);
}

@-webkit-keyframes loading {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes loading {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}